* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

p, h1, h3{
    color: #1f1f24;
    font-family: "Lato", sans-serif;
    padding: 5px;
}

h1{
    font-size: 20px;
}

.titulo-produtos{
    margin: 5px 20%;
}

main{
    height: 100vh;
}

/* header */ 

header{
	background: #1f1f24;
	width: 100%;
}
.logo img {
	display: block;
    width: 200px;
}

img{
    max-width: 100%;
}

.secao{
    width: 100%;
}
.logo{
    padding: 0 1%;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-principal {
	font-weight: bold;
	list-style-type: none;
}

<<<<<<< HEAD

.upfour {
    width: 350px;
    height: 300px;
    float: right;
    background-color: #ffffff;
    border-radius: 9px;
    margin-right: 3em;
    margin-top: 5em;
}
=======
>>>>>>> 39c49af717cb070f4a9a862cb8488c792e190ef8
.menu-principal a {
	display: block;
    color: #d2c2b0 ;
    padding: 0 1em;
	text-decoration: none;
    font-size: 20px;
}

.menu-principal a, .iconeredes:hover {
opacity: 0.8;
}

.menu-principal li {
    display: inline-flex;
}

/* footer */ 
footer {
	background: #1f1f24;
	width: 100%;
    position: absolute;
    margin: 15px 0 0 0;
}

.container-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #d2c2b0;
    font-size: 12px;
}

.iconeredes{
    width: 25px;
    padding: 0 3px;
    margin: 50% 4px;
}

.listaicone{
   display: inline-flex;
}

.logo-footer{
    width: 15%;
}

/* Seção Produtos */

.produtos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.cardcredito{
    align-items: center;
    text-align: center;
    grid-column: 2;
    margin: 10px;

}

.cardsteps{
    align-items: center;
    text-align: center;
    grid-column: 3;
    margin: 10px;
}

.imagem-card{
    border-radius: 5px;
}


.botaoproduto{
    background-color:  #d2c2b0;
    border-radius: 5px;
    border: none;
    padding: 5px 15px;
    color: #1f1f24;
    margin: 5px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    height: 15%;
    text-transform: uppercase;
    font-size: 12px;
}
